.window {
    display: flex;
    justify-content: center;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 25px;  
    margin-top: 25px;
    padding: 20px;
    width: 280px;
    background: #ffffff;
  }
  
  h3 {
    font-size: 18px;
    margin: 0px;
  }
  .signatures {
    text-align: start;
    font-size: 14px;
    margin: 0px;
  }

  .button {
    padding: 10px;
    margin-bottom: 10px;  
    margin-top: 10px;
    border-radius: 4px;
    outline: none;
    background: #1785e5;
    border: 2px solid #1785e5;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  